.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin: 0;
}

body {
  background-color: #121212;

}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #f0f8ff;
  padding: 10px;
  color: #00008b;
}